* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding-top: 70px;
}

.btn {
  font-weight: 300;
}

.btn-primary, .cta-btn {
  color: #ffffff !important;
  background-color: #0192B9;
  border-color: #0192B9;
}
.btn-primary:hover, .cta-btn:hover, .btn-primary:focus, .cta-btn:focus, .btn-primary:active, .cta-btn:active {
  background-color: #016a86 !important;
  border-color: #016a86 !important;
}

.navbar-right li .nav-btn {
  padding: 10px 35px;
  margin: 5px 0px;
}

.cta-btn {
  padding: 10px 30px;
  font-size: 20px;
  margin-top: 20px;
}

.navbar-default, .navbar-collapse {
  background-color: #ffffff;
}

.navbar {
  height: 90px;
  padding: 18px 0px;
  margin-bottom: 0px;
}

.navbar-nav {
  padding: 0px 18px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand img {
  margin-left: 20px;
}
@media (max-width: 768px) {
  .navbar-brand img {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .navbar-default .navbar-right li {
    text-align: center;
  }
}
.navbar-default .navbar-right li a {
  font-size: 18px;
  color: #0192B9;
}

.cta {
  background: url("../../dist/img/cta.jpg") no-repeat;
  height: 500px;
  background-size: cover;
  padding: 10% 0;
}

.cta-tagline-big {
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
}

.cta-tagline-small {
  color: #ffffff;
  font-size: 30px;
  font-weight: 100;
}

.main-fts {
  padding: 150px 0px 100px 0px;
}
@media (max-width: 768px) {
  .main-fts {
    padding: 40px 0px;
  }
}
.main-fts i {
  color: #0192B9;
  font-size: 150px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .main-fts i {
    font-size: 100px;
  }
}
.main-fts p {
  font-size: 20px;
  margin-bottom: 50px;
}

.fts-owners {
  color: #ffffff;
  background: #0192B9 url("../../dist/img/fts-owners-img.jpg") no-repeat 720px;
}
@media (max-width: 768px) {
  .fts-owners {
    text-align: center;
  }
}

.fts-owners-box {
  padding: 20px 0;
}
.fts-owners-box ul {
  list-style-type: none;
  padding: 0;
}
.fts-owners-box i {
  margin-right: 5px;
}

.fts-owners-ft {
  padding: 10px 0px;
  font-weight: 100;
}
.fts-owners-ft p {
  font-size: 20px;
}
.fts-owners-ft .title {
  font-size: 24px;
  font-weight: 400;
}

.fts-users {
  background: #ffffff url("../../dist/img/fts-users-img.jpg") no-repeat;
  color: #0192B9;
}
@media (max-width: 768px) {
  .fts-users {
    text-align: center;
    background: #ffffff;
  }
}

.fts-users-box {
  padding: 20px 50px;
}
.fts-users-box ul {
  list-style-type: none;
  padding: 0;
}
.fts-users-box i {
  margin-right: 5px;
}

.fts-users-ft {
  padding: 10px 0px;
  font-weight: 100;
}
.fts-users-ft p {
  font-size: 20px;
}
.fts-users-ft .title {
  font-size: 24px;
  font-weight: 400;
}

.info {
  padding: 30px 0px;
  text-align: justify;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 250px;
}
.info .nav-pills li a {
  font-size: 18px;
  border-radius: 0px;
}
.info .nav-pills li a:focus, .info .nav-pills li a:hover {
  background-color: #0192B9;
  color: #ffffff;
}

.blog {
  padding: 50px 0px;
}
.blog img {
  width: 100%;
}
.blog h2, .blog h3 {
  margin: 10px 0px;
  color: #0192B9;
}

.article {
  padding: 20px;
  border: 1px solid #dddddd;
  margin: 20px 0px;
  border-radius: 3px;
}
.article .date {
  font-weight: bold;
  font-size: 12px;
}

.footer {
  background-color: #1C2326;
  color: #ffffff;
  padding: 30px 0px;
  font-size: 18px;
}
.footer a {
  color: #ffffff;
}
.footer ul {
  list-style-type: none;
}
@media (max-width: 768px) {
  .footer ul {
    margin-left: -40px;
  }
}
.footer i {
  font-size: 40px;
  margin: 10px;
}
.footer .push {
  height: 250px;
}
@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
}

.codetiger {
  background-color: #000;
  padding: 10px 0px;
  color: #ffffff;
}
.codetiger p {
  margin: 0px;
  font-size: 16px;
}
.codetiger a {
  color: #F79E38;
}
