
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Codetiger - We make beautiful software</title>
  <meta name="description" content="We're a team of web aficionados that write, think and dream about code. We love what we do and we're in the business of making ideas a reality.">

  <link rel="stylesheet" href="{% static 'dist/css/uikit.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/main.css' %}">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

  {% block extra_css %}

  {% endblock extra_css %}
</head>

<body>
    
	{% block content %}
	{% endblock content %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'dist/js/uikit.min.js' %}"></script>
  
	{% block extra_js %}

  {% endblock extra_js %}

</body>
</html>

